filedossier-api/src/main/resources/schemas/filedossier/application.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:view="urn:ru:ilb:filedossier:view"
             xmlns:global="urn:ru:ilb:global"
             xmlns:core="urn:ru:ilb:filedossier:core"
>
    <grammars>
        <include href="global.xsd" />
        <include href="command.xsd" />
        <include href="view.xsd" />
    </grammars>

    <resource_type id="dossierResource">
        <doc title="dossier resource"/>

        <method name="GET" id="getDossier">
            <doc>get dossier instance</doc>
            <request>
                <param name="code" style="query" type="xsd:string" repeating="true"/>
            </request>
            <response>
                <representation mediaType="application/xml" element="view:dossier">
                    <doc>dossier data</doc>
                </representation>
                <representation mediaType="application/json">
                    <doc>dossier data</doc>
                </representation>
                <!--                <representation mediaType="application/xhtml+xml">
                    <doc>dossier data</doc>
                </representation>-->
            </response>
        </method>

        <resource path="dossierfiles">
            <resource path="{fileCode}" id="dossierFileResource" type="#dossierFileResource">
                <param name="fileCode" style="template" type="xsd:string">
                    <doc>file code</doc>
                </param>
            </resource>
        </resource>
        <resource path="store" id="dossierStoreResource" type="#dossierStoreResource"/>
    </resource_type>

    <resource_type id="dossierContextResource">
        <method name="GET" id="getContext">
            <doc>get dossier context</doc>
            <request/>
            <response status="200">
                <representation mediaType="application/json" element="global:map">
                    <doc>processInstances data</doc>
                </representation>
                <!--                <representation mediaType="application/json">
                    <doc>processInstances data</doc>
                </representation>-->
            </response>
        </method>

        <method name="PUT" id="setContext">
            <doc>store dossier cotnext</doc>
            <request>
                <representation mediaType="application/json" element="global:map">
                    <doc>processInstances data</doc>
                </representation>
                <!--                <representation mediaType="application/json">
                    <doc>processInstances data</doc>
                </representation>-->
            </request>
            <response status="204"/>
        </method>
    </resource_type>
    <resource_type id="dossierStoreResource">
        <method name="GET" id="storeIndex">
            <doc>get dossier file store contents</doc>
            <request>
                <param name="version" style="query" type="xsd:int" />
                <param name="accept" style="header" type="xsd:string" />
            </request>
            <response status="200">
                <!--<param name="Content-Disposition" style="header" type="xsd:string"/>-->
                <representation mediaType="application/json"/>
            </response>
        </method>
        <resource path="{name:.*}" >
            <param name="name" style="template" type="xsd:string">
                <doc>file name</doc>
            </param>
            <method name="GET" id="storeDownload">
                <doc>get dossier file from store</doc>
                <request>
                    <param name="version" style="query" type="xsd:int" />
                    <param name="accept" style="header" type="xsd:string" />
                </request>
                <response status="200">
                    <param name="Content-Disposition" style="header" type="xsd:string"/>
                    <representation mediaType="*/*"/>
                </response>
            </method>
        </resource>
    </resource_type>
    <resource_type id="dossierFileResource">

        <resource path="container">
            <method name="GET" id="container">
                <doc>test</doc>
                <request>
                    <param name="path" style="query" type="xsd:string"/>
                </request>
                <response status="200">
                    <param name="Container-Disposition" style="header" type="xsd:string"/>
                </response>
            </method>
        </resource>

        <method name="GET" id="download">
            <doc>get dossier file contents</doc>
            <request>
                <param name="version" style="query" type="xsd:int" />
                <param name="mode" style="query" type="core:contentDispositionMode" default="attachment"/>
                <param name="accept" style="header" type="xsd:string" />
            </request>
            <response status="200">
                <param name="Content-Disposition" style="header" type="xsd:string"/>
                <representation mediaType="*/*"/>
            </response>
        </method>

        <resource path="update">
            <method name="POST" id="update">
                <doc>add file to current dossier file version</doc>
                <request>
                    <representation mediaType="multipart/form-data">
                        <!--                        <doc>file data</doc>
                        <param style="query" name="file" type="java.io.File" />-->
                    </representation>
                </request>
                <response status="204"/>
            </method>
        </resource>

        <resource path="publish">
            <method name="POST" id="publish">
                <doc>create new dossier file version</doc>
                <request>
                    <representation mediaType="multipart/form-data">
                        <!--                        <doc>file data</doc>
                        <param style="query" name="file" type="java.io.File"/>-->
                    </representation>
                </request>
            </method>
        </resource>
        <resource path="context" id="dossierContextResource" type="#dossierContextResource"/>
        <!--<resource path="store" id="dossierStoreResource" type="#dossierStoreResource"/>-->
    </resource_type>

    <resources>
        <resource path="dossiers">
            <resource path="{dossierKey}/{dossierPackage}/{dossierCode}/{dossierMode}" id="dossierResource" type="#dossierResource">
                <param name="dossierKey" style="template" type="xsd:string">
                    <doc>dossier key</doc>
                </param>
                <param name="dossierPackage" style="template" type="xsd:string">
                    <doc>dossier package</doc>
                </param>
                <param name="dossierCode" style="template" type="xsd:string">
                    <doc>dossier code</doc>
                </param>
                <param name="dossierMode" style="template" type="xsd:string">
                    <doc>dossier can have specific states, determined by activities where it have been used</doc>
                </param>
            </resource>
        </resource>
    </resources>
</application>
